body
{
	font: 13px/1.231 sans-serif;
	font-size: small;
}

html
{
	overflow-y: scroll; 
	background: #f4f4f4;
	height: 100%;

}

body
{
	height:100%;
	font-family: "HelveticaNeue-light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "lucida Grande", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 21px;
	color: #424242;
	text-shadow:#FFF 0 1px 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;	
	text-align: center;
}

input
{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 8px;
}

#btn_enviar {
   border-top: 1px solid #969da1;
   background: #888f94;
   background: -webkit-gradient(linear, left top, left bottom, from(#7f8a91), to(#888f94));
   background: -webkit-linear-gradient(top, #7f8a91, #888f94);
   background: -moz-linear-gradient(top, #7f8a91, #888f94);
   background: -ms-linear-gradient(top, #7f8a91, #888f94);
   background: -o-linear-gradient(top, #7f8a91, #888f94);
   padding: 5px 10px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }

#btn_enviar:hover {
   border-top-color: #4a5359;
   background: #4a5359;
   color: #fffcff;
   }
#btn_enviar:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   footer{
	background-color:#E0E0E0;
	clear:both;
	text-align:center;
	font-weight:bold;
	bottom: 0;
	position: absolute;
	width: 90%;
}